<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
    <title>{{ .Title }} - Dingo </title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
    <link href="/css/vendor.css" type="text/css" rel="stylesheet" media="screen,projection">
    <link href="/css/app.css" type="text/css" rel="stylesheet" media="screen,projection">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>
  <body>

    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header dingo-layout">

      <header class="mdl-layout__header is-casting-shadow"><div aria-expanded="false" role="button" tabindex="0" class="mdl-layout__drawer-button"><i class="material-icons"></i></div>
        <div class="mdl-layout__header-row">
          <span class="mdl-layout-title">{{ .Title }}</span>

          <div class="mdl-layout-spacer"></div>
          <small class="mdl-layout-text mdl-layout--large-screen-only">Logged in as Admin</small>
          <nav class="mdl-navigation mdl-layout--large-screen-only">
            <a class="mdl-navigation__link" href="/logout"><i class="material-icons">exit_to_app</i></a>
          </nav>

        </div>
      </header>

      <div class="mdl-layout__drawer" aria-hidden="true">
        <div class="dingo-layout__sidebar">
          <div class="sidebar-header">
          </div>
          <div class="sidebar-body">
            <div class="dingo-menu-container">

              <ul class="dingo-menu">

                <li class='{{if eq .Title "Dashboard"}}active{{end}}'>
                  <a class="mdl-navigation__link" href="/admin/"><span class="mdl-color-text--black--400 material-icons" role="presentation">dashboard</span>Dashboard</a>
                </li>

                <li class="has-menu is-expanded">
                  <a href="#"><span class="mdl-color-text--black--400 material-icons" role="presentation">storage</span>Content</a>

                  <ul class="dingo-menu collapse in">

                    <li>
                      <a href="/admin/posts/">Posts</a>
                    </li>

                    <li>
                      <a href="/admin/pages/">Pages</a>
                    </li>

                  </ul>

                </li>

                <li class='{{if eq .Title "Comments"}}active{{end}}'>
                  <a class="mdl-navigation__link" href="/admin/comments/"><span class="mdl-color-text--black--400 material-icons" role="presentation">comment</span>Comments</a>
                </li>

                <li class='{{if eq .Title "Profile"}}active{{end}}'>
                  <a class="mdl-navigation__link" href="/admin/profile/"><span class="mdl-color-text--black--400 material-icons" role="presentation">account_box</span>Profile</a>
                </li>

                <li class='{{if eq .Title "Files"}}active{{end}}'>
                  <a class="mdl-navigation__link" href="/admin/files/"><span class="mdl-color-text--black--400 material-icons" role="presentation">attachment</span>Files</a>
                </li>

                <li class='{{if eq .Title "Monitor"}}active{{end}}'>
                  <a class="mdl-navigation__link" href="/admin/monitor/"><span class="mdl-color-text--black--400 material-icons" role="presentation">assessment</span>Monitor</a>
                </li>

              </ul>

            </div>
          </div>
          <div class="sidebar-footer">
            Powered by <a href="http://github.com/dinever/dingo" target="_blank">Dingo</a>
          </div>
        </div>

      </div>

      <main class="mdl-layout__content dingo-page">
        {{ template "body" }}
      </main>

      <div class="mdl-layout__obfuscator">
      </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>
    <script src="/js/vendor.js"></script>
    <script src="/js/app.js"></script>
    {{ template "after_footer"  }}
  </body>
</html>
