{{ extends "/default.html" }}

{{ define "body"}}
<section class="text-fields ng-scope">
  <div class="mdl-color--amber ml-header relative clear">
    <div class="p-50"></div>
  </div>

  <div class="mdl-grid mdl-grid--no-spacing">

    <div class="mdl-cell mdl-cell--9-col mdl-cell--12-col-tablet mdl-cell--12-col-phone no-p-l">
      <div class="p-20 ml-card-holder ml-card-holder-first">
        <div class="mdl-card mdl-shadow--1dp fullwidth">
          <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">Password</h2>
          </div>
          <div class="p-15">

            <form id="password" class="form form-align clear" action="#" name="password-form" method="post">

              <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label fullwidth">
                <input class="mdl-textfield__input" type="password" id="old" name="old">
                <label class="mdl-textfield__label" for="old">Old Password</label>
              </div>

              <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label fullwidth">
                <input class="mdl-textfield__input" type="password" id="new" name="new">
                <label class="mdl-textfield__label" for="new">New Password</label>
              </div>

              <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label fullwidth">
                <input class="mdl-textfield__input" type="password" id="confirm" name="confirm">
                <label class="mdl-textfield__label" for="confirm">Confirm new password</label>
              </div>

              <div class="m-t-20">
                <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-color--blue-500 mdl-js-ripple-effect">
                  Change Password
                  <span class="mdl-button__ripple-container"><span class="mdl-ripple is-animating"></span></span></button>
              </div>

            </form>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{{end}}

{{ define "after_footer" }}
<script>

</script>
{{ end }}
