{{ extends "/default.html" }}

{{ define "content"}}
<div id="content">
  <div id="article-container" class="clear container960">
    <section id="main">
      <article class="article article-type-page" itemscope="" itemprop="blogPost">

        <div class="article-inner">
          <header class="article-header">
            <h1 class="article-title" itemprop="name">
              Oops! That page can not be found.
            </h1>
          </header>
          <div class="article-entry" itemprop="articleBody">
            <p>We couldn't find the page you were looking for. This is either because:</p>
            <ul>
              <li>There is an error in the URL entered into your web browser. Please check the URL and try again.</li>
              <li>The page you are looking for has been moved or deleted.</li>
            </ul>
            <p>You can return to our homepage by clicking <a href="/">here</a>.</p>
          </div>
        </div>
      </article>

    </section>
  </div>
</div>
{{end}}
